* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 0.8rem;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px black;
  border-radius: 4px;
  padding: 0.4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

input,
label,
button,
select {
  font-size: 1.2rem;
  padding: 0.3rem;
}

button {
  width: 100%;
}

.error {
  display: none;
  font-size: 0.8em;
}

.error.visible {
  display: block;
}

input.invalid,
select.invalid {
  border-color: red;
}
